@import '../../variables.scss';
.price-color{
   color :$currencyColor;
}
:host ::ng-deep .pos-sidebar {
    &.ng-sidebar--opened.ng-sidebar--over {
        box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }
    a {
        color: $lightGrey;
    }
    a.active {
        border-left: $mainColor solid 2px;
    }
    a:hover {
        color: $mainColor;
    }
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
        border-left: $mainColor solid 3px;
    }
    .list-group-item.hover {
        color: $mainColor;
    }
}

:host ::ng-deep .pos-contents {
    padding: 15px 10px 0 10px;
    background-color: #fff;
    max-height: 94vh;
    overflow: hidden;
}